@tailwind base;
@tailwind components;
@tailwind utilities;

.log-content {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    max-width: 100% !important;
    display: block !important;
} 
